*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333333;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 50px 70px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    background-color: #555555;
}
.header{
    padding: 0.75rem 0;
    width: 100%;
    background-color: #444444;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-size: 22px;
    font-weight: 200;
    text-align: center;
}
.subtitle{
    font-size: 15px;
    font-weight: 1000;
    text-align: center;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.btn{
    position: relative;
    margin: 0 30px;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background-color: #666666;
    border: solid 2px #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6dbd1e;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 5rem 0.1rem #6dbd1e;
}
.icona{
    position: absolute;
    top: 20px;
    padding: 5px;
    font-size: 60px;
    font-weight: 600;
}
.text{
    position: absolute;
    top: 100px;
    width: 75%;
    font-size: 15px;
    text-align: center;
}