* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vt323regular, sans-serif;
}
body {
  background-color: #333333;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  padding: 50px 70px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #555555;
}
header {
  padding: 0.75rem 0;
  width: 100%;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 35px;
  letter-spacing: 4px;
  text-align: center;
  animation: pulse 2s linear infinite;
}
.subtitle {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  animation: pulse 2s linear infinite;
}
@keyframes pulse {
  0%,
  100% {
    color: #ffffff;
    text-shadow: none;
  }
  50% {
    color: #6dbd1e;
    text-shadow: 0 0 15px rgba(109, 189, 30, 0.2),
      0 0 25px rgba(109, 189, 30, 0.3), 0 0 35px rgba(109, 189, 30, 0.5),
      0 0 45px rgba(109, 189, 30, 0.7), 0 0 65px rgba(109, 189, 30, 0.9);
  }
}
main {
  position: relative;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn {
  position: relative;
  margin: 0 30px;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background-color: #666666;
  border: solid 2px #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6dbd1e;
  cursor: pointer;
}
.btn:hover .icona {
  filter: drop-shadow(0 0 15px rgba(109, 189, 30, 0.2))
    drop-shadow(0 0 25px rgba(109, 189, 30, 0.4))
    drop-shadow(0 0 35px rgba(109, 189, 30, 0.6))
    drop-shadow(0 0 45px rgba(109, 189, 30, 0.9));
}
.icona {
  position: absolute;
  top: 20px;
  padding: 5px;
  image-rendering: pixelated;
}
.icona img {
  height: 60px;
  width: 60px;
  filter: invert(58%) sepia(96%) saturate(412%) hue-rotate(47deg)
    brightness(94%) contrast(83%);
}
.text {
  position: absolute;
  top: 90px;
  width: 75%;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.off_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #6dbd1e;
  text-shadow: 0 0 5px rgba(109, 189, 30, 0.1), 0 0 15px rgba(109, 189, 30, 0.6);
}
.off_container img {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
  filter: invert(58%) sepia(96%) saturate(412%) hue-rotate(47deg)
    brightness(94%) contrast(83%);
  text-shadow: 0 0 5px rgba(109, 189, 30, 0.1), 0 0 15px rgba(109, 189, 30, 0.6);
}
.off_container img:hover {
  filter: invert(58%) sepia(96%) saturate(412%) hue-rotate(47deg)
    brightness(94%) contrast(83%) drop-shadow(0 0 30px rgba(109, 189, 30, 0.4))
    drop-shadow(0 0 60px rgba(109, 189, 30, 0.7));
}
.exit_container {
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  color: #6dbd1e;
  text-shadow: 0 0 5px rgba(109, 189, 30, 0.1), 0 0 15px rgba(109, 189, 30, 0.6);
}
.exit_container img {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
  filter: invert(58%) sepia(96%) saturate(412%) hue-rotate(47deg)
    brightness(94%) contrast(83%);
  text-shadow: 0 0 5px rgba(109, 189, 30, 0.1), 0 0 15px rgba(109, 189, 30, 0.6);
}
.exit_container img:hover {
  filter: invert(58%) sepia(96%) saturate(412%) hue-rotate(47deg)
    brightness(94%) contrast(83%) drop-shadow(0 0 30px rgba(109, 189, 30, 0.4))
    drop-shadow(0 0 60px rgba(109, 189, 30, 0.7));
}
.active {
  display: flex;
}
footer {
  padding-top: 1px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1px;
}
footer span {
  text-transform: uppercase;
}
